---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>https://dragondigitalsolutions.com/</loc>
    <lastmod>{{ "now" | date("YYYY-MM-DD") }}</lastmod>
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
  </url>
  <url>
    <loc>https://dragondigitalsolutions.com/privacy-policy/</loc>
    <lastmod>{{ "now" | date("YYYY-MM-DD") }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
</urlset> 